// app global css in SCSS form
:root {
  display: grid;
  background: $dark-page;
  body {
    display: flex;
    justify-self: center;
    max-width: $mobile-width;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    & header.fixed-top {
      max-width: $mobile-width;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
// @at-root {
//   @content: {
//     &:has([style*="position: fixed"]) {
//       max-width: 500px; /* Set your desired maximum width */
//     }
//   };
// }
